html body {
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

* {
  box-sizing: border-box;
  font-weight: 500;
}

.my-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: 50px;
  padding: 20px;
}

.my-grid img {
  width: 250px;
  height: auto;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}

.image-preview {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.page-header {
  display: flex;
  gap: 20px;
  height: 50px;
  color: #FFF;
  background-color: #0d6efd;
  user-select: none;
}

.page-header h5 {
  align-self: center;  
  margin: 0;
  font-size: 18px;
}

.page-header img {
  width: 50px;
  height: 50px;
}

.residence-wrapper {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  flex-direction: column;
}

.residence-wrapper img {
  width: 330px;
  height: 230px;
  object-fit: cover;
}

.residence-wrapper #residence-specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F2F2F2;
  color: #7777;
  padding: 10px;
}

.residence-wrapper div span{
  font-size: 12px;
}

.residence-wrapper:hover .remove-button {
  display: flex;
}

.residence-wrapper:hover .edit-button {
  display: flex;
}

.remove-button {
  display: none;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -17.5px;
  top: -17.5px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.remove-button span {
  font-size: 18px;
}

.edit-button {
  display: none;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -17.5px;
  top: -17.5px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.edit-button span {
  font-size: 18px;
}

.list {
  margin-top: 20px;
}

#description {
  height: 200px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #ffc5c5;
}

#image-preview img:hover {
  cursor: pointer;
  background-color: #ffc5c5;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.remove-modal-content {
  color: #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.remove-modal-content div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}