html body {
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

* {
  box-sizing: border-box;
  font-weight: 500;
}

.page-header {
  height: 50px;
  background-color: #0d6efd;
}

#property-title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 28px;
}

#property-description {
  margin-top: 20px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#property-header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: baseline;
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #ccc;
  justify-content: space-between;
}

#top-info span {
  padding: 20px;
  background-color: #F5F5F5CC;
  flex: auto;
}

#property-price {
  font-size: 28px;
  font-weight: 500;
  background-color: #0d6efd;
  color: #FFF;
  padding: 20px;
  width: 100%;
  text-align: center;
}

#property-info {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  text-align: center;
}

#property-info span {
  padding: 10px;
  background-color: #F5F5F5CC;
  transition: 0.3s;
  border-bottom: solid 2px #CCC;
}

#location {
  margin-top: 20px;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}